<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DeviceInfoMapper">

	<!-- 通用SQL片段 -->
	<sql id="Base_Column_List">
		n_id id,c_model deviceModel,c_brand deviceBrand,n_status status,n_activate_time activateTime,c_sn SN,n_abate_time abateTime
		,n_time_start timeStart, n_time_end timeEnd
	</sql>

  <select id="getUserList" parameterType="int" resultType="cn.edu.haut.cssp.acms.core.entity.TDeviceInfo">
 	 select 
 	 <include refid="Base_Column_List" />
 	  from t_device_info 
 </select>
 
	 <update id="updateTimeGroup"  parameterType="java.util.Map" >
	 	update t_device_info info set info.n_time_start = #{timeStart}, info.n_time_end = #{timeEnd}
	 	where info.n_id = #{id}
	 </update>
	 
	 <update id="updateDeviceStatus"  parameterType="java.util.Map" >
	 	update t_device_info info set info.n_status = #{status} where info.n_id = #{id}
	 </update>
	 
	  <select id="getDeviceTimeList" parameterType="int" resultType="cn.edu.haut.cssp.acms.core.bean.DeviceTimeExt">
 	 select 
 	 n_id id,n_activate_time activateTime,n_abate_time abateTime
		,n_time_start timeStart, n_time_end timeEnd 
 	  from t_device_info 
 </select>
 
 	<select id="selectStatusBySn" parameterType="java.lang.String" resultType="java.util.Map">
 		select n_status status from t_device_info where c_sn = #{devicesn}
 	</select>
</mapper>
