<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SystemLogMapper">
	<!-- 通用SQL片段 -->
	<sql id="Base_Column_List">
		n_id id,c_user_name userName,n_user_id userId,c_type logType,c_content logContent,n_upload_time logUploadTime
	</sql>

	<select id="querySyslogList" parameterType="java.util.Map"
		resultType="cn.edu.haut.cssp.acms.core.entity.TSystemLog">
		select
		<include refid="Base_Column_List" />
		from t_sys_log
		<where>
			<if test="keyWord != null and keyWord != ''">
				 <!-- AND c_user_name LIKE CONCAT(CONCAT('%'，#{keyWord},'%')) AND c_content LIKE CONCAT(CONCAT('%',#{keyWord},'%')) -->
				 AND c_user_name LIKE '%${keyWord}%' AND c_content LIKE '%${keyWord}%'
			</if>
			<if test="logType != null and logType != ''">
				 AND c_type = #{logType}
			</if>
			<if test="startTime != null and startTime != ''">
				  AND n_upload_time &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				  AND n_upload_time &lt;= #{endTime}
			</if>
		</where>
	</select>
	
	<insert id="insertSyslog" parameterType="cn.edu.haut.cssp.acms.core.entity.TSystemLog">
		insert into t_sys_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="null != userName and userName != ''">c_user_name,</if>
			<if test="null != userId and userId > 0">n_user_id,</if>
			<if test="logType > 0 and null != logType">c_type,</if>
			<if test="null != logContent and logContent != ''">c_content,</if>
			<if test="null != logUploadTime and logUploadTime > 0">n_upload_time,</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="null != userName and userName != ''">#{userName},</if>
			<if test="null != userId and userId > 0">#{userId},</if>
			<if test="logType > 0 and null != logType">#{logType},</if>
			<if test="null != logContent and logContent != ''">#{logContent},</if>
			<if test="null != logUploadTime and logUploadTime > 0">#{logUploadTime},</if>
		</trim>
	</insert>
		
</mapper>
