<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserManagementMapper">
	
	<sql id="Basic_Column">
		n_id id,c_user_name userName ,c_password password,n_type type ,c_mobile mobile ,
		n_status status ,n_time time,c_note note,
		c_ec_code ecCode ,c_delete_flag deleteFlag ,n_create_time createTime
	</sql> 
	<select id="getUserByUserName" parameterType="java.util.Map" resultType="java.util.Map">
		select 
		<include refid="Basic_Column" />
		 from t_sys_user user where user.c_user_name = #{userName}
	</select>
	<select id="findUserById" parameterType="int" resultType="java.util.Map">
		select user.c_user_name userName from t_sys_user user where user.n_id = #{userId}
	</select>
</mapper>
